body{
    background-color: white;
    margin: 50px;
}

img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

h4, p{
    color: black;
}

#habilidades, #educacion{
    color: black;

}

ul {
   list-style: none;
}